@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
}

::selection {
    color: #FFF;
    background-color: #007ced;
}

.my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
}

@media (min-width: 576px) {
    .my-container {
        max-width: 540px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width: 720px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 992px) {
    .my-container {
        max-width: 960px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .my-container {
        max-width: 1140px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1400px) {
    .my-container {
        max-width: 1320px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}